@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
  /* Colors */
  --primary-color : hsl(215, 51%, 70%);
  --secundary-color: hsl(178, 100%, 50%);
  --bg-body: hsl(217, 54%, 11%);
  --bg-card: hsl(216, 50%, 16%);
  --color-line: hsl(215, 32%, 27%);
  --text-color: hsl(0, 0%, 100%);
  /* Typography */
  font-family: 'Outfit', sans-serif;
}

